/* You can add global styles to this file, and also import other style files */
@use "tailwindcss";

:root {
    --primary-color: #00bcd4;
    --accent-color: #ff9800;
    --warn-color: #f44336;
}

html,
body {
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.primary-text {
    color: var(--primary-color);
}

.accent-text {
    color: var(--accent-color);
}

.warn-text {
    color: var(--warn-color);
}